ion-toolbar {
    --border-width: 0 !important;
}

.header-md::after {
    background: none !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;
}

.container h1 {
    margin-top: 0;
}

.form-container {
    width: 100%;
}

.form-container ion-item {
    --padding-start: 0;
    --border-color: #DADADA;
    --background: transparent;
}

.form-container ion-item ion-label {
    color: #A6A6A6;
}

.form-container ion-item ion-icon {
    margin-top: auto;
    color: #c6cbd4;
}

.form-container ion-button {
    margin-top: 48px;

    --background: var(--ion-color-default)
}