<ion-content scrollY="false" >
  
  <div class="ion-padding container">

    <h1>Welcome</h1>

    <div class="form-container">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password"></ion-input>
        <ion-icon name="eye" slot="end"></ion-icon>
      </ion-item>

      <ion-button expand="block" class="main-button">Log in</ion-button>
    </div>
  </div>
</ion-content>