.container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.1);

    display: flex;
}

.container ion-spinner {
    flex: 1;
    align-self: center;

    color: var(--ion-color-default);

    height: 60px;
}